.mikuLine {
    width: 80vw;
    text-align: center;
    margin: 20px auto;
    height: 350px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.MikuContEven {
    min-width: 125px;
    height: 250px; 
  
}